<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container">
        <h2>비밀번호 재설정</h2>
        <form th:action="@{/reset-password}" method="post">
            <div class="form-group">
                <label>이메일</label>
                <input type="email" name="email" class="form-control" required />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">재설정 링크 전송</button>
        </form>
        <br />
        <a th:href="@{/login}">로그인 페이지로 이동</a>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>