<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<table border=0 cellspacing=0 cellpadding=10 width=90%>
    <tr>
        <td style='word-break:break-all;' bgcolor=#ffffff height=100 valign=top>
            <span style=line-height:160%>
                <font color=black> <B>달팽이...- -</B></p>
                    <br>
                    <marquee scrollAmount=3 direction=right>보통인넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=1 direction=right>진짜 느린넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=4 direction=right>빠른넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=2 direction=right>느린넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=30 direction=right>순간이동하는넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=7 direction=right>진짜빠른넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=10 direction=right>거북이만큼빠른넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=17 direction=right>토끼보다빠른넘→ __@/``</marquee>
                    <br>
                    <marquee scrollAmount=4>미친넘→ __@/``</marquee>
                    <br>
                    >껌에붙은넘→ __@/``
                </font>
            </span>
        </td>
    </tr>
</table>
<div align=right style=font-family:Tahoma;font-size:7pt;></div>

</html>